body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
header {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #131921;
  padding: 10px 20px;
  align-items: center;
}
header h1 {
  margin: 0;
  font-size: 24px;
}
header button {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin: 2px;
}
.h1_button{
  color: #ff9900;
  font-size: 24px;
  cursor: pointer;
}
.h1_button:hover {
  background-color: #232F3E;
}
.Produto button {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #0073e6;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.Buscar-bar {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
}
.Buscar-bar input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
.Buscar-bar button {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin: 2px;
}
.Produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.Produto {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.Produto img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
footer {
  background-color: #131921;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed ; /* Muda de fixed para relative */
  padding: 20px 0; /* Adiciona algum padding para o footer */
  bottom: 0;
  left: 0;
}
.footer2 {
  background-color: #131921;
  color: white;
  text-align: center;
  width: 100%;
  position: relative ; /* Muda de fixed para relative */
  padding: 20px 0; /* Adiciona algum padding para o footer */
  bottom: 0;
  left: 0;
}
.login-register {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 5%;
}
.form-container {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%; /* Adjust width as needed */
  margin: 0 auto;
  text-align: center;
}
.form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 95%; /* Make input fields fill the width of the container */
  margin: 10px auto; /* Adjust spacing as needed */
}
.form-container button {
  padding: 10px;
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  display: block;
  width: 100%; /* Make input fields fill the width of the container */
  margin: 10px auto; /* Adjust spacing as needed */
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  padding-bottom: 80px; /* Adiciona espaço inferior */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
  text-align: center;
}
.product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.product img {
  width: 50px;
  height: 50px;
}
.total {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: right;
}
.buttons {
  text-align: center;
  margin-top: 20px;
}
.buttons a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #0073e6;
  border-radius: 5px;
  margin: 5px;
}
.buttons a:hover {
  background-color: #005bb5;
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.remove-button:hover {
  background-color: darkred;
}
.price {
  text-align: center;
}

.total-price {
  text-align: center;
}

/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #131921;
    margin: 0;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.header-buttons button {
    background-color: #ff9900;
    border: none;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

.header-buttons button:hover {
    background-color: #ff751a;
}

/* Main */
.main-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.orders-container {
    padding: 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.orders-table th, .orders-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.orders-table th {
    background-color: #f3f3f3;
}

.orders-table tr:hover {
    background-color: #f9f9f9;
}

.expand-button {
    background-color: #ff9900;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.expand-button:hover {
    background-color: #ff751a;
}

/* Detalhes dos Produtos */
.extra-info {
    display: none;
    background-color: #f9f9f9;
}

.sub-table {
    width: 100%;
    border-collapse: collapse;
}

.sub-table th, .sub-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.sub-table th {
    background-color: #f3f3f3;
}

form button {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #0073e6;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
form button:hover {
  background-color: #1168c0;
}
select#payment-method, select#state {
  width: 99%;
}

